<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div class="user-info text-center">
    <img  class="img-circle img-user-info" src="../../assets/images/avatar5.png">
    <div class="fullname">FullName</div>
    <div class="title">Introduce</div>
  </div>
  <a routerLink="/">Main</a>
  <a routerLink="profile">Profile</a>
</div>
<span style="font-size:30px;cursor:pointer" class="trogger-menu" (click)="openNav()">&#9776;</span>
