.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 70;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.trogger-menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
}
.user-info > .fullname{
    color: #febf00;
}
.user-info > .title{
    color: #a0a0a0;
    font-size: 90%;
}
.user-info > .img-user-info{
    width: 80px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 840px) {
    .sidenav {
        width: 0px;
    }
    /* .container-main{
        margin-left: 0px;
    } */

}